pydantic
langchain
langgraph
langchain-core
langchain-classic
langchain-community
llama-index
llama-parse
dotenv
langchain-groq
langchain-ollama
langchain-google-genai
langchain_openai
pdfplumber
PyPDF2